.App {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
}

.app-sidebar {
  flex: 0 0 200px;
  height: 100%;
}

.app-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
