.messenger {
  width: 100%;
  flex: 0 0 60px;
}

.messenger-form {
  display: flex;
}

.messenger-input {
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid lightgray;
  height: 30px;
  padding-left: 10px;
  font-size: 0.9rem;
}

.messenger-input:focus {
  outline: none;
  box-shadow: 0 0 2px blue;
}
