.sidebar {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-right: 2px solid black;
}

.sidebar li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.selected {
  background-color: black;
  color: green;
}

.sidebar li:hover {
  color: white;
}

.sidebar-section-title {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 2px;
}
